.slide1{
    background-color: #cfd0d5;
    height: 100% ;
}

.slide2{
    background-color: #cfd0d5;
    height: 100% ;
}

.slide3{
    background-color: #cfd0d5;
    height: 100% ;
}

ion-slides{
    height: 100% ;
}